header {
  display: flex;
  justify-content: space-between;
  padding: 77px;
  margin-bottom: 155px;
  img {
    height: 39px;
  }
  button {
    display: inline-block;
    padding: 0;
    width: 135px;
    height: 40px;
    margin-right: -10px;
    border: 1px solid $pink;
    border-radius: 30px;
    outline: inherit;
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    color: $pink;
    background: none;
    box-shadow: 0 0 3px hsl(321, 100%, 88%); ///custom
    transition: all 0.13s ease-in-out;
    &:hover {
      border: 1px solid hsl(321, 100%, 88%); //custom
      color: hsl(321, 100%, 82%); //custom
    }
  }
}
