.hero {
  background: bottom / contain url(/images/bg-section-top-desktop-1.svg)
    no-repeat;
  // padding: 0 pxToVw(1440, 70);
  h1 {
    margin-bottom: 20px;
    padding: 0 70px;
    font-family: $poppins;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }
  .heroText {
    width: 595px;
    margin: 0 auto 45px;
    text-align: center;
    font-size: 20px;
    line-height: 1.55;
  }
  button {
    display: block;
    margin: 0 auto 110px;
    padding: 0;
    width: 400px;
    height: 80px;
    border-radius: 76px;
    border: none;
    outline: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.01em;
    text-align: center;
    text-decoration: none;
    color: white;
    background: $pink;
    box-shadow: 0 5px 10px hsl(322, 50%, 76%, 50%);
    transition: all ease-in-out 0.13s;
    &:hover {
      background: $lPink;
    }
  }
  .heroImg {
    display: block;
    width: 72%;
    max-width: 1100px;
    margin: 0 auto 120px; //210px
  }
  .statistics {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 0 auto;
    padding-bottom: 290px;
    max-width: 1300px;

    div {
      img {
        padding-left: 10px;
        margin-bottom: -5px;
      }
      p:nth-child(2) {
        font-size: 95px;
        font-weight: 700;
        margin-bottom: 12px;
      }
      p:nth-child(3) {
        font-size: 24px;
        text-align: center;
        color: hsl(192, 10%, 50%);
      }
    }
    &__right {
      padding-right: 60px;
      img {
        height: 33px;
      }
      p:nth-child(3) {
        padding-right: 30px;
      }
    }
    &__left {
      padding-left: 60px;
    }
  }
}
