@media screen and (max-width: 600px) {
  header {
    padding: 25px;
    img {
      height: 17px;
    }
    button {
      width: 90px;
      height: 25px;
      font-size: 10px;
    }
  }
  .hero {
    padding: 35px;
    background: bottom / contain url(/images/bg-section-top-mobile-1.svg)
      no-repeat;
    h1 {
      font-size: 25px;
    }
    .heroText {
      width: auto;
      font-size: 14px;
      font-weight: 500;
    }
    button {
      width: 70%;
      height: 40px;
      font-size: 12px;
      font-weight: 600;
    }
    .heroImg {
      width: 100%;
    }
    .statistics {
      display: block;
      width: 167px;
      padding-bottom: 100px;
      margin: 0 auto;
      background: none;
      div {
        p:nth-child(2) {
          font-size: 65px;
          text-align: center;
        }
        p:nth-child(3) {
          font-size: 16px;
          text-align: center;
        }
      }
      &__right {
        padding-right: 0;
        img {
          height: 20px;
        }
      }
      &__left {
        padding-left: 0;
        margin-bottom: 80px;
        img {
          height: 25px;
        }
      }
    }
  }
  .features {
    .feature {
      flex-direction: column;
      h2 {
        font-size: 18px;
      }
      p {
        width: 100%;
        font-size: 13px;
        font-weight: 500;
      }
      img {
      }
    }
    .growTogether {
      &__left {
        order: 2;
        margin-top: 0px;
        padding: 30px;
        width: 100%;
        text-align: center;
      }
      &__right {
        padding: 50px;
      }
    }
    .flowingConversations {
      background: top / contain url(/images/bg-section-bottom-mobile-1.svg)
          no-repeat,
        bottom / contain url(/images/bg-section-top-mobile-2.svg) no-repeat;
      &__left {
        padding: 50px;
      }
      &__right {
        margin-top: 0px;
        padding: 30px;
        width: 100%;
        text-align: center;
      }
    }
    .yourUsers {
      &__left {
        order: 2;
        padding: 0;
        margin-top: 0px;
        padding: 30px;
        width: 100%;
        text-align: center;
      }
      &__right {
        padding: 50px;
      }
    }
  }
  .cta {
    padding: 200px 0 200px;
    background: top / contain url(/images/bg-section-bottom-mobile-2.svg)
        no-repeat,
      bottom/contain url(/images/bg-footer-top-mobile.svg) no-repeat;
    h2 {
      font-size: 24px;
    }
    button {
      width: 60%;
      height: 45px;
      font-size: 12px;
    }
  }
  footer {
    padding: 100px 30px 0px;
    flex-direction: column;
    .footerLeft {
      order: 2;
      width: 100%;
      img {
        height: 30px;
        margin-bottom: 10px;
      }
      .description {
        margin-bottom: 35px;
      }
      .phone {
        font-size: 13px;
        font-family: $poppins;
      }
      .email {
        font-size: 13px;
        margin-bottom: 40px;
      }
      .socialLinks {
        width: 100px;
        .linkBox {
          width: 24px;
          height: 24px;
          svg {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
    .footerRight {
      width: 100%;
      padding-left: 0;
      margin-bottom: 90px;

      h2 {
        font-size: 20px;
      }
      p {
        width: 100%;
        font-size: 13px;
      }
      .email {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        input {
          display: block;
          width: 100%;
          height: 44px;

          margin-right: 0px;
          margin-bottom: 15px;
        }
        button {
          display: block;
        }
      }
    }
  }
}
